<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" verbose="3">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome">
        <classes>
            <class name="tests.AccountsTests"/>
            <class name="tests.LoginTests"/>
        </classes>
        </parameter>
    </test>
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox">
            <classes>
                <class name="tests.AccountsTests"/>
                <class name="tests.LoginTests"/>
            </classes>
        </parameter>
    </test>
    <test name="Edge Tests">
        <parameter name="browser" value="edge">
            <classes>
                <class name="tests.AccountsTests"/>
                <class name="tests.LoginTests"/>
            </classes>
        </parameter>
    </test>
</suite>